<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact form</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- External CSS for additional styling -->
    <link rel="stylesheet" href="./styles/contact.css">
</head>
<body class="bg-pink-50">
    <div>
        {{>navbar}}
    </div>
    <div class="flex justify-center items-center h-screen">
        <div class="flex w-full max-w-screen-lg">
            <div class="w-1/2 flex justify-center md:mr-2">
                <img src="https://img.freepik.com/free-vector/organic-flat-man-customer-support_23-2148893295.jpg?size=626&ext=jpg&ga=GA1.1.184299391.1710901833&semt=ais" alt="Contact" class="w-full">
            </div>
            <form action="https://api.web3forms.com/submit" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8  w-1/2">
                <h2 class="text-2xl font-bold text-center mb-4">Get in touch</h2>
                <hr>
                <input type="hidden" name="access_key" value="b74e756d-732b-4edb-b502-5a6cc2e638bc">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Your Name</label>
                    <input type="text" name="name" id="name" placeholder="Your name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Your Email</label>
                    <input type="email" name="email" id="email" placeholder="Your email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                </div>
                <div class="mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="message">Your Message</label>
                    <textarea name="message" id="message" placeholder="Your message" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-32 resize-none" required></textarea>
                </div>
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full flex justify-center items-center">
                    Submit
                </button>
            </form>
        </div>
    </div>
    <div>
        {{>footer}}
    </div>
</body>
</html>
